**/.env
**/secrets/
**/certs/
*.pem
*.key
*.crt
*.sqlite3
*.db
**/data/
**/logs/
authelia/config/db.sqlite3
authelia/config/notification.txt
authelia/config/users.yml
adguard/conf/
adguard/work/
forgejo/data/
forgejo/config/
_backup-staging/
homepage/config/logs/
homepage/config/docker.yaml
homepage/config/kubernetes.yaml
homepage/config/proxmox.yaml
homepage/config/logs/
*.bak
nextcloud/db-data/
