**/.env
**/*.env
**/secrets/
**/certs/
*.pem
*.key
*.psk
*.crt
*.sqlite3
*.db
**/data/
**/logs/
authelia/config/notification.txt
authelia/config/users.yml
adguard/conf/
adguard/work/
forgejo/config/
_backup-staging/
homepage/config/docker.yaml
homepage/config/kubernetes.yaml
homepage/config/proxmox.yaml
*.bak
nextcloud/db-data/
